<footer>
    <article>
        <p id="coaching">COACHING ORGANIZACIONAL</p>
    </article>
    <p>2021</p>
    <div></div>
    <p>Telefono: +54 342 155056679</p>
    <article id="flex-redes">
        <article>
            <a href="https://www.linkedin.com/in/juan-segundo-mart%C3%ADnez/"><i class="fab fa-facebook-square fa-2x"></i></i></a>
        </article>
        <article>
            <a href="https://github.com/JuanSegundo7"><i class="fab fa-whatsapp-square fa-2x"></i></a>
        </article>
        <article>
            <a href="https://www.instagram.com/juanse_martinez7/"><i class="fab fa-instagram-square fa-2x"></i></a>
        </article>
    </article>
</footer>