@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

/*#00C4C9*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: 'Roboto Condensed';
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/fotoHeader-min.png);
    /* background-size: 123% 120%; */
    background-size: cover;
    box-shadow: -1px -3px 60px 5px rgba(0,0,0,0.75);
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
}

ul{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

nav{
    margin: 2em 0 0 0;
}

nav li{
    list-style: none;
    color: #00C4C9 ;
    font-size: 1.5em;
    margin: 0 1em 0 1em;
    transition: 0.8s;
}

li:hover{
    color: #097375;
}

#bottom{
    background-color: RGBA(0,196,201,0.58);
}

#bottom h2{
    font-size: 3em;
    color: white;
}

#necesitas{
    width: 60%;
    font-size: 4em;
    margin: 4em 0 0 0.3em;
    color: #00C4C9;
    text-shadow: 1px 2px 2px black;
}

a{
    text-decoration: none;
}

/********** MEDIA-QUERYS *********/

@media (min-width: 768px){
    nav li{
        font-size: 1.3em;
    }
    #necesitas{
        width: 70%;
        font-size: 2.2em;
        margin: 3em 0 0 0.3em;
    }
    #bottom h2 {
        font-size: 2em;
    }
    #bottom {
        margin: 0 0 7em 0px;
        padding: 1.5em;
    }
}

@media (min-width: 1000px){
    nav{
        margin: 2em 0 0 0;
    }
    
    nav li{
        font-size: 1.5em;
        margin: 0 1em 0 1em;
        transition: 0.8s;
    } 
    #bottom{
        margin: 0 0 10em 0px;
        padding: 2em;
    }
    
    #bottom h2{
        font-size: 3em;
        color: white;
    }
    
    #necesitas{
        width: 60%;
        font-size: 3.5em;
        margin: 4em 0 0 0.3em;
    }
}