<!DOCTYPE html>
<html lang="es">
    <%-include("./partials/head",{"css":["header", "home", "footer"]})%>
    <body>
        <%- include("./partials/header")%> 
        <main>
        <section id="coachingOrg">
            <h1>¿PARA QUÉ EL COACHING ORGANIZACIONAL?</h1>
            <article id="flex-presentacion">
                <img id="presentacion" src="/images/presentacion.jpg" alt="presentacion">
                <p>La finalidad del Coaching organizacional es asistir a los equipos en el desarrollo de su
                    <mark class="celeste">rendimiento</mark>, trabajando sobre la base que son las personas, para que el resultado del conjunto sea siempre superior al de la suma de sus individuos.</p>
                </article>
                <p>Para ello, el coaching centra su trabajo en el <mark class="celeste">desarrollo de Habilidades</mark> logrando que cada uno de sus miembros consiga alcanzar su máximo potencial y que el equipo trabaje como un todo cohesionado para la obtenciónde un objetivo común. El coaching consigue esto a través de la mejora de la <mark class="celeste">comunicación</mark>, la <mark class="celeste">confianza</mark> y el <mark class="celeste">liderazgo</mark>. Alinea y une esfuerzos para coordinar las acciones del equipo de la manera más eficaz y conseguir alcanzar los objetivos comunes a toda la organización.</p>
        </section>
        <section id="comoTrabajamos">
            <article id="comoTrabajamos-titulo">
                <h1>¿CÓMO TRABAJAMOS?</h1>
            </article>
            <article id="flex-trabajamos">
                <article id="article-1">
                    <article id="box-square">
                        <div class="square"></div>
                        <div class="square"></div>
                        <div class="square"></div>
                    </article>
                    <article id="box-square2">
                        <img src="/images/equipo.jpg" alt="">
                    </article>
                </article>
                <article id="article-2">
                    <p>El coach acompaña al equipo entrenando y fomentando la <mark class="celeste">fluidez del diálogo</mark>, invitando a la reflexión estratégica, potenciando de esta forma su funcionamiento.</p>
                    <p>Mediante el coaching, es el equipo quien dirige su propio <mark class="celeste">aprendizaje</mark>, descubriendo sus puntos fuertes y débiles, identificando comportamientos, creencias limitadoras y potenciadoras.</p>
                    <p>Es el propio equipo el que define <mark class="celeste">objetivos específicos</mark> y desarrolla un plan de acción y compromiso para la consecución de los mismos. El coach es el encargado de guiar al equipo durante todo ese proceso.</p>
                    <p>Entre los beneficios inmediatos del coaching organizacional y ejecutivo están, por ejemplo, la mejora en el proceso de <mark class="celeste">toma de decisiones</mark>, el alcance más rápido y efectivo de los objetivos y metas de la organización, y la adquisición de <mark class="celeste">nuevas competencias</mark> y responsabilidades.</p>
                </article>
            </article>
        </section>
        <section id="cualEs">
            <figure>
                <img id="personas" src="/images/personas.jpg" alt="">
            </figure>
            <article id="sizeCualEs">
                <h1>¿CUÁL ES NUESTRA PROPUESTA?</h1>
            </article>
            <h2 id="comoCoach">Como Coach Ejecutivo y Organizacional proponemos abrir un espacio dentro de su organización para que la misma alcance un resultado que hasta el momento no está pudiendo alcanzar.</h2>
            <article id="flex-cualEs">
                <article class="flex-cualEs-inside">
                    <img src="/images/coaching.png" alt="">
                    <h2>COACHING</h2>
                    <p>Coaching ejecutivo y organizacional hacia los equipos de trabajo tanto de algún área específica o de toda la organización.</p>
                </article>
                <article class="flex-cualEs-inside">
                    <img src="/images/entrenamiento.png" alt="">
                    <h2>ENTRENAMIENTO</h2>
                    <p>Entrenamientos diseñados para el personal según las necesidades pautadas previamente.</p>
                </article>
                <article class="flex-cualEs-inside">
                    <img src="/images/capacitacion.png" alt="">
                    <h2>CAPACITACION</h2>
                    <p>Programas estándares de capacitación para directivos, líderes, mandos medios o de base.</p>
                </article>
            </article>
        </section>
        <section>
        <h1 class="tituloSFondo">¿QUIENES SOMOS?</h1>
        <section>
            <article id="quienesSomos">
                <article id="box">
                    <h2>VALERIA PRATRONO</h2>
                    <article class="box-flex">
                        <figure>
                            <img src="/images/valeria.jpg" alt="person">
                        </figure>
                        <p>Senior Coach Ontologico Internacional</p>
                        <p>Coach Ejecutivo y Organizacional</p>
                        <p>Lic. en Psicología</p>
                        <p>Entrenadora internacional de coaches profesionales</p>
                        <p>Coach de equipos laborales.</p>
                        <article class="info-quienes">
                            <a href="https://www.instagram.com/valeria_patrono/"><i class="fab fa-instagram-square" id="instagram1"></i></a>
                            <p>@valeria_patrono</p>
                        </article>
                        <img class="img-marca" src="/images/scop.jpg" alt="">
                        <img class="img-marca" src="/images/scoa.jpg" alt="">
                    </article>
                </article>
                <article id="box1">
                    <article id="box1-size">
                        <h2>AGUSTINA SAVINO</h2>
                            <figure>
                                <img src="/images/agustina.jpg" alt="person">
                            </figure>
                            <p>Senior Coach Ontologico Internacional</p>
                            <p>Coach Ejecutivo y Organizacional</p>
                            <p>Entrenadora internacional de coaches profesionales</p>
                            <p>Coach de equipos laborales.</p>
                            <article class="info-quienes">
                                <a href="https://www.instagram.com/agus.savino_coach/"><i class="fab fa-instagram-square" id="instagram2"></i></a>
                                <p>@agus.savino_coach</p>
                            </article>
                            <img class="img-marca" src="/images/scop.jpg" alt="">
                            <img class="img-marca" src="/images/scoa.jpg" alt="">
                    </article>
                </article>
            </article>
                <h1 id="masDe5">Más de 5 años entrenando líderes y coaches de Argentina y la región, acompañando proyectos empresariales y potenciando organizaciones en pos de un desarrollo saludable y sustentable.</h1>
        </section>
        <a name="Contacto"></a>
        <section id="contacto">
        <h1>CONTACTO</h1>
        <article id="contacto-flex">
            <article id="contacto-num">
                <h2>Número de telefono</h2>
                <p>+54 342 155056679</p>
                <article id="flex-ubicacion">
                    <i class="fas fa-globe-americas"></i>
                    <h3>Argentina</h3>
                </article>
            </article>
            <article id="contacto-form">
                <form action="">
                <fieldset id="fieldset-input">
                    <fieldset>
                        <label for="nombre"></label>
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" class="form-style form-medidas">
                    </fieldset>
                    <fieldset>
                        <label for="number"></label>
                        <input type="number" name="number" id="number" placeholder="Telefono" class="form-style form-medidas">
                    </fieldset>
                    <fieldset>
                        <label for="email"></label>
                        <input type="email" name="email" id="email" placeholder="E-mail" class="form-style form-medidas">
                    </fieldset>
                    <fieldset>
                        <label for="proyecto"></label>
                        <input type="text" name="proyecto" id="proyecto" placeholder="Nombre de la Empresa" class="form-style form-medidas">
                    </fieldset>
                    <fieldset id="form-texto">
                        <label for="texto">Deje su mensaje.</label>
                        <input id="texto" placeholder="Hola! Me gustaria..." class="form-style form-medidas"></input>
                    </fieldset>
                </fieldset>
                    <fieldset id="flex-botones">
                        <button type="submit">Enviar</button>
                        <button type="reset">Resetear</button>
                    </fieldset>
                    </form>
                </article>
            </article>
        </section>
    </main>
    <%- include("./partials/footer")%> 
</body>
</html>